<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{pageDescription}}" />

  <!-- Social tags -->
  <meta property="og:title" content="{{pageTitle}}">
  <meta property="og:description" content="{{pageDescription}}">
  <meta property="og:image" content="{{env.baseUrl}}{% if pageImage %}{{pageImage}}{% else %}/assets/meta.jpg{% endif %}">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:site_name" content="Anaïs Lemercier">
  <meta name="twitter:card" content="summary_large_image">

  <title>{{pageTitle}}</title>

  <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/css/styles.css">
  <link
    rel="preload"
    href="/assets/fonts/europa-bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="preload"
    href="/assets/fonts/garamond-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >

  {% if tag %}
    {% assign collection = collections[tag] | sortByPosition %}
  {% else %}
    {% assign collection = collections.projects | sortByPosition %}
  {% endif %}

  {%- for item in collection -%}
    <link
      rel="preload"
      href="/img/{{item.fileSlug}}/animation.gif"
      media="(min-width: 41em)" 
      as="image"
    >
  {% endfor %}

  <script src="/js/script.js" defer></script>
</head>
<body>
  <header class="header">
    <div class="header__top">
      {% if page.fileSlug == "" or page.fileSlug == "contact" or tag %}
        <h1>
      {% endif %}
        <a href="/">
          <img
            class="header__logo"
            src="/assets/logo.svg"
            alt="Anaïs Lemercier"
            width="352"
            height="71"
          >
        </a>
      {% if page.fileSlug == "" or page.fileSlug == "contact" or tag %}
        </h1>
      {% endif %}

      <div aria-hidden class="header__burger">
        <span></span>
      </div>
    </div>

    <nav class="header__menu">
      <ul>
        <li>
          <a
            {% if page.fileSlug == "" %}aria-current="page"{% endif %}
            href="/"
          >
            <span>Accueil</span>
          </a>
        </li>
        <li>
          <a
            {% if tag == "affiche" %}aria-current="page"{% endif %}
            class="header__filter"
            href="/affiche/"
          >
            <span>Affiche</span>
          </a>
        </li>
        <li>
          <a
            {% if tag == "packaging" %}aria-current="page"{% endif %}
            class="header__filter"
            href="/packaging/"
          >
            <span>Packaging</span>
          </a>
        </li>
        <li>
          <a
            {% if tag == "identite" %}aria-current="page"{% endif %}
            class="header__filter"
            href="/identite/"
          >
            <span>Identité</span>
          </a>
        </li>
        <li>
          <a
            {% if tag == "edition" %}aria-current="page"{% endif %}
            class="header__filter"
            href="/edition/"
          >
            <span>Édition</span>
          </a>
        </li>
        <li>
          <a
            {% if tag == "illustration" %}aria-current="page"{% endif %}
            class="header__filter"
            href="/illustration/"
          >
            <span>Illustration</span>
          </a>
        </li>
      </ul>
      <a
        {% if page.fileSlug == "contact" %}aria-current="page"{% endif %}
        href="/contact/"
      >
        <span>Contact</span>
      </a>
    </nav>
  </header>
