<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{pageDescription}}" />

  <!-- Social tags -->
  <meta property="og:title" content="{{pageTitle}}">
  <meta property="og:image" content="{{env.baseUrl}}{% if pageImage %}{{pageImage}}{% else %}/assets/meta.jpg{% endif %}">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:site_name" content="Anaïs Lemercier">
  <meta name="twitter:card" content="summary_large_image">

  <title>{{pageTitle}}</title>

  <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/css/styles.css">
  <link
    rel="preload"
    href="/assets/fonts/europa-bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="preload"
    href="/assets/fonts/garamond-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <script src="/js/script.js" defer></script>
</head>
<body>
  <header class="header">
    {% if page.fileSlug == "" %}<h1>{% endif %}
      <a href="/">
        <img
          class="header__logo"
          src="/assets/logo.svg"
          alt="Anaïs Lemercier"
          width="300"
          height="60"
        >
      </a>
    {% if page.fileSlug == "" %}</h1>{% endif %}

    <nav class="header__menu">
      <ul>
        <li>
          <a href="/">
            <span>All</span>
          </a>
        </li>
        <li>
          <a href="/poster/">
            <span>Poster</span>
          </a>
        </li>
        <li>
          <a href="/packaging/">
            <span>Packaging</span>
          </a>
        </li>
        <li>
          <a href="/identity/">
            <span>Identity</span>
          </a>
        </li>
        <li>
          <a href="/edition/">
            <span>Edition</span>
          </a>
        </li>
        <li>
          <a href="/illustration/">
            <span>Illustration</span>
          </a>
        </li>
      </ul>
      <a href="/about/">
        <span>About</span>
      </a>
    </nav>
  </header>
